/**设置背景颜色**/
.root {
    -fx-background-color: #ffffff;
}

/**设置Label样式**/
/*.label {*/
/*    !*-fx-font-size: 16px;*!*/
/*    !*-fx-font-weight: bold;*!*/
/*    -fx-text-fill: #333333;*/
/*    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
/*}*/
/**设置Button样式**/
.button {
    /*设置背景颜色渐变*/
    -fx-background-color: linear-gradient(to right, #ABB2B9, #ABB2B9);
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    /*设置圆角*/
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/**设置Button  鼠标悬停样式**/
.button:hover {
    -fx-border-color: blue;
}

/**设置Button 点击鼠标样式**/
.button:pressed {
    /**设置边框背景颜色**/
    -fx-border-color: red;
}

/**设置HBox背景样式 bg是自定义的class**/
.bg {
    /*设置圆角*/
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #EAECEE;

}

/*.list-cell{*/
/*    -fx-alignment: center;*/
/*}*/