.root {
    -fx-background-color: linear-gradient(to bottom, #DADAF6, #FFFFFF);
}

.table-view:focused .filler {
    -fx-border-color: #CBCAF2;
}

.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    /*-fx-background-color: #7271CF;*/
    -fx-font-family: "Chalkduster";
    -fx-text-fill: rgba(68, 68, 68, 0.96);
    -fx-font-size: 13;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-control-inner-background: #000000;
    /*-fx-border-color: #CBCAF2;*/
}

/*设置表格头高度*/
.table-view > .column-header-background {
    -fx-pref-height: 40;
}

/*设置每一列内容居中，每一行高度*/
.table-row-cell {

    -fx-cell-size: 40px;
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #CBCAF2;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

#scoreBoardTable .table-row-cell:even {
    -fx-background: #FDFDFE;
}

#scoreBoardTable .table-row-cell:odd {
    -fx-background: #EEEEFB;
}

#scoreBoardTable .table-row-cell:empty {
    -fx-background: white;
}

#scoreBoardTable {
    -fx-font-size: 13;
    -fx-font-family: "Comic Sans MS";
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-alignment: center;
}

/*设置每一列内容居中*/
#scoreBoardTable .table-column {
    /*-fx-border-color: black;*/
    -fx-alignment: center;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #7271CF;
    -fx-font-size: 16px;
    -fx-font-family: "Comic Sans MS";
    /*设置圆角*/
    -fx-border-color: #7574D7;
    -fx-background-radius: 70;
    -fx-border-radius: 70;
}

/**设置Button  鼠标悬停样式**/
.button:hover {
    -fx-background-color: #7271CF;
    -fx-text-fill: #ffffff;
    /*设置圆角*/
    -fx-border-color: #7574D7;
}

/**设置Button 点击鼠标样式**/
.button:pressed {
    /**设置边框背景颜色**/
    -fx-border-color: red;
}

#congratsLabel {
    -fx-font-family: "Chalkduster";
    -fx-text-fill: #D65694;
    -fx-font-size: 20;
}